#s 
{
  border: 2px solid #999;
  border-radius: 0.5em;;
  font-size: 1.2em;
  width: 10em;
  transition: width 0.5s ease-in-out;
}
 
#s:focus 
{
  font-size: 5em;
  width: 500%;
}

a
{
    color: black;
    text-decoration: none;
}
